section.header{
   background:url('https://farm9.staticflickr.com/8760/17195790401_ceeeafcddb_o.jpg');
   background-size:cover;
   background-position: 0px -75px;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 150px;

}

h1.title{
  font-family: 'Open Sans', sans-serif;
   color: #71c174;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 80px;
   font-weight: 800;
   letter-spacing: 3px;
   line-height: 1;
   text-shadow: #EDEDED 3px 2px 0;
   position: relative;
}




div.container{
 position:relative;
 top: 25px;
}

section.formulario{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
}

table.formularioTabla{
  position: relative;
  margin: 0 auto;
  border-spacing: 15px;
  border-collapse: separate;
  width: 100%;
}

input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #4CAF50;
    color: white;
}

input[type=reset] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover{
    background-color: #4CAF50;
    color: white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



section.envolturaTabla table{
  position: relative;
  margin: 0 auto;
  text-align: left;
  width: 50%;
}

table.forecast_table{
  table-layout: fixed;
}

tr.highlight:hover {
  background-color: #71c174;
  /*font-weight: bold; ffff99*/
}


section.footer {
  position: relative;
  top: 25px;

}
